{{#draggable-object content=item}}
  <div class="item-card">
    <div class="overlay {{item.color}}" onclick={{action 'showModalItemView'}}>
      <span class="text-center">view details</span>
    </div>
    <div class="item-card__side {{item.color}}"></div>
    <div class="item-title">{{item.title}}</div>
  </div>
{{/draggable-object}}