<div class="row main-nav">
  <div class="col-xs-6 main-nav__left">
    <h3 class="logo">Foh-Rello</h3>
  </div>
  <div class="col-xs-6 main-nav__right"></div>
</div>
{{outlet}}
{{outlet 'modal-outlet'}}
